-var arr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

<!DOCTYPE html>
html(lang="en")
  head
    title Hex Epoch Clock

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(href='https://fonts.googleapis.com/css?family=Roboto:300', rel='stylesheet')
    link(href='/index.css', rel='stylesheet')

  body
    #app
      #container
        each i in arr.splice(0, 3)
          span.number(id=i)=i

        span.lit.small #

        each i in arr.splice(0, 6)
          span.number.lit(id=i)=i

        each i in arr
          span.number(id=i)=i

    script(src='/index.js')
